<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/highlight.pack.js"></script>
    <script type="text/javascript" src="/Scripts/handlebars.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/highlight/obsidian.css" />
    <link rel="stylesheet" href="/Content/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="nav navbar-nav navbar-left navbar-props">
                    <a href="http://geteventstore.com/" target="_blank">
                        <img src="/Content/images/eventstore_logo.png" style="padding: 7px;" />
                    </a>
                </div>
                <div class="nav navbar-nav navbar-right navbar-props">
                    <a href="http://nancyfx.org" target="_blank">
                        <img src="/Content/images/Nancy-logo.png" height="50" />
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default" >
    </nav>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron">
                <div class="container">
                    <h1>Blame & Shame</h1>
                    <p>We all stumble across seriously bad code on a daily basis. This site is a vent for that.</p>
                    <p><a class="btn btn-primary btn-lg" id="new-blame">Blame Someone</a></p>
                </div>
            </div>
            <div id="new-blame-form" class="hidden panel panel-default">
                <div class="panel-heading"><h2>Blame</h2></div>
                <div class="panel-body">
                    <div class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="title" placeholder="Title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            <textarea id="description" class="form-control" rows="3" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="language" class="col-lg-2 control-label">Language</label>
                        <div class="col-lg-10">
                            <div class="btn-group">
                                <select class="form-control" id="language">
                                    @Each.Languages
                                    <option value="@Current.Key">@Current.Value</option>
                                    @EndEach
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-lg-2 control-label">Code</label>
                        <div class="col-lg-10">
                            <textarea id="code" class="form-control" rows="5" placeholder="Code"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-default" id="add-blame" >Submit</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="blames">
            </div>
        </div>
    </div>
    <script id="blame-template" type="text/x-handlebars-template">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>{{title}}</h1></div>
            <div class="panel-body">
                <p>{{description}}</p>
                <hr />
                <pre>
                    <code>{{code}}</code>
                </pre>
            </div>
            <div class="panel-footer">
                <span class="badge">{{language}}</span>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/GetBlames',
                success: function (blames) {
                    for (var i = 0; i < blames.length; i++) {
                        var blame = {
                            title: blames[i].Title,
                            description: blames[i].Description,
                            code: blames[i].Code,
                            language: blames[i].LanguageName
                        };
                        addBlame(blame, false);
                    }
                }
            });
            var source = $("#blame-template").html();
            var template = Handlebars.compile(source);
            hljs.initHighlightingOnLoad();
            $('#new-blame').click(function () {
                $('#new-blame-form').removeClass('hidden');
            });
            $('#add-blame').click(function() {
                var data = {
                    Title: $('#title').val(),
                    Description: $('#description').val(),
                    Language: $('#language').val(),
                    Code: $('#code').val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/Add',
                    data: data,
                    success: function() {
                        var newBlame = {
                            title: $('#title').val(),
                            description: $('#description').val(),
                            code: $('#code').val(),
                            language: $('#language option:selected').text()
                        };
                        addBlame(newBlame, true);
                        clearBlameForm();
                    }
                });
            });
            var addBlame = function(blame, prepend) {
                var html = template(blame);
                var $html = $.parseHTML(html);
                if (prepend) {
                    $('#blames').prepend($html);
                } else {
                    $('#blames').append($html);
                }
                $('pre code', $html).each(function (i, e) { hljs.highlightBlock(e); });
            };
            var clearBlameForm = function () {
                $('#new-blame-form').addClass('hidden');
                $('#title').val('');
                $('#description').val('');
                $('#language').val(0);
                $('#code').val('');
            };
        });
    </script>
</body>
</html>
