<!DOCTYPE html>
<html>
<head>
    <title>@Model.Page.Title @Model.Page.TitleSuffix</title>
    <script type="text/javascript" src="/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/highlight.pack.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/highlight/obsidian.css" />
    <link rel="stylesheet" href="/Content/screen.css" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="nav navbar-nav navbar-left navbar-props">
                    <a href="http://geteventstore.com/" target="_blank">
                        <img src="/Content/images/eventstore_logo.png" style="padding: 7px;" /></a>
                </div>
                <div class="nav navbar-nav navbar-right navbar-props">
                    <a href="http://nancyfx.org" target="_blank">
                        <img src="/Content/images/Nancy-logo.png" height="50" /></a>
                </div>
                <a class="navbar-brand col-sm-12" style="text-align: center;" href="#">@Model.Page.Title</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="notifications"></div>
            <div class="jumbotron">
                <div class="container">
                    <h1>Code Blame!</h1>
                    <p>We all stumble across seriously bad code on a daily basis. This site is a vent for that.</p>
                    <p><a class="btn btn-primary btn-lg" id="new-blame">New Blame</a></p>
                </div>
            </div>
            <div id="new-blame-form" class="hidden panel panel-default">
                <div class="panel-heading">Blame</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="description" class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="description" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="language" class="col-lg-2 control-label">Language</label>
                        <div class="col-lg-10">
                            <div class="btn-group">
                                <select class="form-control" id="language">
                                    @Each.Languages
                                    <option value="@Current.Key">@Current.Value</option>
                                    @EndEach
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-lg-2 control-label">Code</label>
                        <div class="col-lg-10">
                            <textarea id="code" class="form-control" placeholder="Code"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-default" id="add-blame" >Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            @Each.Messages
            <div class="panel panel-default">
                <div class="panel-heading">@Current.Description</div>
                <div class="panel-body">
                    <pre>
                        <code>@!Current.Code</code>
                    </pre>
                </div>
            </div>
            @EndEach
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            hljs.initHighlightingOnLoad();
            $('#new-blame').click(function () {
                $('#new-blame-form').removeClass('hidden');
            });
            $('#add-blame').click(function() {
                var data = {
                    Description: $('#description').val(),
                    Language: $('#language').val(),
                    Code: $('#code').val()
                };
                $.ajax({
                    type: 'POST',
                    url: '/Add',
                    data: data,
                    success: function() {
                        alert('done');
                    }
                });
            });
        });
    </script>
</body>
</html>
