body {
    background: url('/Content/images/grid.png');
    color: #323232;
}

.navbar-default {
    background-color: #323232;
    background-repeat: repeat-x;
    border-bottom: 3px solid #6BA300;
  }
    .navbar-default .navbar-brand {
        color: #E0E2E4;
    }
        .navbar-default .navbar-brand:hover {
            color: #E0E2E4;
        }

.navbar-props li a {
    padding: 0;
}

.btn-primary {
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    color: #363636;
    padding: 10px;
    margin: 5px 0;
    font-weight: bold;
    background-color: #C9E63C;
}
    .btn-primary:hover {
        border-color: #717171;
        color: black;
        text-decoration: none;
        background-color: #C9E63C;
    }

.panel {
    background-color: #323232;
    border: none;
    color: #E0E2E4;
}
    .panel-body pre {
        background-color: transparent;
        border: 0;
    }

pre code {
    background-color: #323232;
}